# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# dotenv
.env
.env.*

# virtualenv
.venv/

# Setting vscode
.vscode/

# Ignore coverage files
.coverage

# Ignore pytest cache
.pytest_cache/
htmlcov/
