# NOTE: This is the environment file for the project
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fastapi
POSTGRES_HOST=db
# NOTE: This is the connection string for the database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
# NOTE: Production settings
CERT_RESOLVER=
DOMAIN=
DOMAIN_2=
