# NOTE: This is the environment file for the project
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fastapi
POSTGRES_HOST=db # Comment for local development

# NOTE: [development, test, production]
# ENV=

# NOTE: Production settings
API_KEY=api_key
CERT_RESOLVER=
DOMAIN=
